@import "tailwindcss"; /* WAJIB paling atas */

/* Tambahkan font */
@font-face {
  font-family: 'Sinerva';
  src: url('/fonts/Sinerva.ttf') format('truetype'),
       url('/fonts/Sinerva.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Kawung';
  src: url('/fonts/kawung.ttf') format('truetype'),
       url('/fonts/kawung.otf') format('opentype');
  font-display: swap;
}
